@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');

body {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1)
    ), url(https://cutewallpaper.org/21/bts-background-laptop/Bts-Love-Yourself-Answer-Free-Wallpaper-and-Backgrounds-.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Mono', monospace;
}

.container {
  width: 100%;
}

header {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px rgb(235, 165, 225);
}
header li {
  display: inline-block;
  list-style-type: none;
  color: #fff;
  text-shadow: 2px 2px #000;
}

.btsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgb(235, 165, 225, .7), rgb(204, 204, 255, .7));
  padding: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.quiz, .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border: 1px solid purple;
  background-color: rgba(248, 242, 247, 0.6);
  padding: 50px;
  margin: auto;
  color: #000;
}

form, .sized {
  font-size: 18px;
}

.button {
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  color: rgb(235, 165, 225);
  font-family: 'Chelsea Market', cursive;
}
.button:hover,
.button:active {
  border: 1px solid purple;
  background-color: rgb(235, 165, 225);
  color: #000;
}

label {
  display: block;
  margin-bottom: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

footer {
  text-align: center;
}
footer img {
  width: 100px;
  border-radius: 50%;
  margin-top: 50px;
}

@media only screen and (min-width: 600px ) {
  header {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  header {
    font-size: 28px;
  }
  form, .sized {
    font-size: 21px;
  }
}

@media only screen and (min-width: 998px) {
  header {
    font-size: 32px;
  }
  form, .sized {
    font-size: 24px;
  }
}
